footer {
    // background: color(black);
    // color: color(white);
    padding: space(1) $gap;
    position: relative;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../img/texture.jpg);
        background-blend-mode: multiply;
        z-index: -1;
        background-size: cover;
        opacity: 0.08;
    }
   
}