[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}

.icon--small {
    height: 16px;
    width: 16px;
}


.hero .icon-arrow-down {
    width: 20px;
    height: 20px;

    &.fadein-bounce {
        animation-delay: 6s;
        animation-duration: 600ms;
    }
   
}