.content {
    h1, .t-h1 { @extend .t-h1; }
    h2, .t-h2 { @extend .t-h2; }
    h3, .t-h3 { @extend .t-h3; }
    h4, .t-h4 { @extend .t-h4; }
    h5, .t-h5 { @extend .t-h5; }
    p, .t-p1 { @extend .t-p1; }

    blockquote, blockquote > * {
        color: color(md-gray);
        font-size: 1.35em;
        font-style: italic;
    }

    blockquote {
        margin: space(8) space(10) space(10);
    }

    li, ol {
        font-family: inherit;
        @extend .list;
        @extend .t-p1;
        font-family: font-stack(secondary);
    }
}